[submodule "Drivers/CMSIS/Device/ST/STM32F4xx"]
	path = Drivers/CMSIS/Device/ST/STM32F4xx
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
	branch = master
[submodule "Drivers/STM32F4xx_HAL_Driver"]
	path = Drivers/STM32F4xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
	branch = master
[submodule "Drivers/BSP/STM32F4xx-Nucleo"]
	path = Drivers/BSP/STM32F4xx-Nucleo
	url = https://github.com/STMicroelectronics/stm32f4xx-nucleo-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F4xx_Nucleo_144"]
	path = Drivers/BSP/STM32F4xx_Nucleo_144
	url = https://github.com/STMicroelectronics/stm32f4xx-nucleo-144-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F4-Discovery"]
	path = Drivers/BSP/STM32F4-Discovery
	url = https://github.com/STMicroelectronics/stm32f4discovery-bsp
	branch = main
[submodule "Drivers/BSP/STM32F401-Discovery"]
	path = Drivers/BSP/STM32F401-Discovery
	url = https://github.com/STMicroelectronics/32f401cdiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F411E-Discovery"]
	path = Drivers/BSP/STM32F411E-Discovery
	url = https://github.com/STMicroelectronics/32f411ediscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32412G-Discovery"]
	path = Drivers/BSP/STM32412G-Discovery
	url = https://github.com/STMicroelectronics/32f412gdiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F413H-Discovery"]
	path = Drivers/BSP/STM32F413H-Discovery
	url = https://github.com/STMicroelectronics/32f413hdiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F429I-Discovery"]
	path = Drivers/BSP/STM32F429I-Discovery
	url = https://github.com/STMicroelectronics/32f429idiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32469I-Discovery"]
	path = Drivers/BSP/STM32469I-Discovery
	url = https://github.com/STMicroelectronics/32f469idiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM324x9I_EVAL"]
	path = Drivers/BSP/STM324x9I_EVAL
	url = https://github.com/STMicroelectronics/stm324x9i-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM324xG_EVAL"]
	path = Drivers/BSP/STM324xG_EVAL
	url = https://github.com/STMicroelectronics/stm324xg-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32446E_EVAL"]
	path = Drivers/BSP/STM32446E_EVAL
	url = https://github.com/STMicroelectronics/stm32446e-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32469I_EVAL"]
	path = Drivers/BSP/STM32469I_EVAL
	url = https://github.com/STMicroelectronics/stm32469i-eval-bsp.git
	branch = main
