[submodule "Drivers/CMSIS/Device/ST/STM32F4xx"]
	path = Drivers/CMSIS/Device/ST/STM32F4xx
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
	branch = master
[submodule "Drivers/STM32F4xx_HAL_Driver"]
	path = Drivers/STM32F4xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
	branch = master
[submodule "Drivers/BSP/STM32F4xx-Nucleo"]
	path = Drivers/BSP/STM32F4xx-Nucleo
	url = https://github.com/STMicroelectronics/stm32f4xx-nucleo-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F4xx_Nucleo_144"]
	path = Drivers/BSP/STM32F4xx_Nucleo_144
	url = https://github.com/STMicroelectronics/stm32f4xx-nucleo-144-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F4-Discovery"]
	path = Drivers/BSP/STM32F4-Discovery
	url = https://github.com/STMicroelectronics/stm32f4discovery-bsp
	branch = main
[submodule "Drivers/BSP/STM32F401-Discovery"]
	path = Drivers/BSP/STM32F401-Discovery
	url = https://github.com/STMicroelectronics/32f401cdiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F411E-Discovery"]
	path = Drivers/BSP/STM32F411E-Discovery
	url = https://github.com/STMicroelectronics/32f411ediscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32412G-Discovery"]
	path = Drivers/BSP/STM32412G-Discovery
	url = https://github.com/STMicroelectronics/32f412gdiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F413H-Discovery"]
	path = Drivers/BSP/STM32F413H-Discovery
	url = https://github.com/STMicroelectronics/32f413hdiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F429I-Discovery"]
	path = Drivers/BSP/STM32F429I-Discovery
	url = https://github.com/STMicroelectronics/32f429idiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32469I-Discovery"]
	path = Drivers/BSP/STM32469I-Discovery
	url = https://github.com/STMicroelectronics/32f469idiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM324x9I_EVAL"]
	path = Drivers/BSP/STM324x9I_EVAL
	url = https://github.com/STMicroelectronics/stm324x9i-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM324xG_EVAL"]
	path = Drivers/BSP/STM324xG_EVAL
	url = https://github.com/STMicroelectronics/stm324xg-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32446E_EVAL"]
	path = Drivers/BSP/STM32446E_EVAL
	url = https://github.com/STMicroelectronics/stm32446e-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32469I_EVAL"]
	path = Drivers/BSP/STM32469I_EVAL
	url = https://github.com/STMicroelectronics/stm32469i-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
	branch = main
[submodule "Drivers/BSP/Components/ampire480272"]
	path = Drivers/BSP/Components/ampire480272
	url = https://github.com/STMicroelectronics/stm32-ampire480272.git
	branch = main
[submodule "Drivers/BSP/Components/ampire640480"]
	path = Drivers/BSP/Components/ampire640480
	url = https://github.com/STMicroelectronics/stm32-ampire640480.git
	branch = main
[submodule "Drivers/BSP/Components/cs43l22"]
	path = Drivers/BSP/Components/cs43l22
	url = https://github.com/STMicroelectronics/stm32-cs43l22.git
	branch = main
[submodule "Drivers/BSP/Components/dp83848"]
	path = Drivers/BSP/Components/dp83848
	url = https://github.com/STMicroelectronics/stm32-dp83848.git
	branch = main
[submodule "Drivers/BSP/Components/exc7200"]
	path = Drivers/BSP/Components/exc7200
	url = https://github.com/STMicroelectronics/stm32-exc7200.git
	branch = main
[submodule "Drivers/BSP/Components/ft3x67"]
	path = Drivers/BSP/Components/ft3x67
	url = https://github.com/STMicroelectronics/stm32-ft3x67.git
	branch = main
[submodule "Drivers/BSP/Components/ft6x06"]
	path = Drivers/BSP/Components/ft6x06
	url = https://github.com/STMicroelectronics/stm32-ft6x06.git
	branch = main
[submodule "Drivers/BSP/Components/i3g4250d"]
	path = Drivers/BSP/Components/i3g4250d
	url = https://github.com/STMicroelectronics/stm32-i3g4250d.git
	branch = main
[submodule "Drivers/BSP/Components/ili9325"]
	path = Drivers/BSP/Components/ili9325
	url = https://github.com/STMicroelectronics/stm32-ili9325.git
	branch = main
[submodule "Drivers/BSP/Components/ili9341"]
	path = Drivers/BSP/Components/ili9341
	url = https://github.com/STMicroelectronics/stm32-ili9341.git
	branch = main
[submodule "Drivers/BSP/Components/l3gd20"]
	path = Drivers/BSP/Components/l3gd20
	url = https://github.com/STMicroelectronics/stm32-l3gd20.git
	branch = main
[submodule "Drivers/BSP/Components/lan8742"]
	path = Drivers/BSP/Components/lan8742
	url = https://github.com/STMicroelectronics/stm32-lan8742.git
	branch = main
[submodule "Drivers/BSP/Components/lis302dl"]
	path = Drivers/BSP/Components/lis302dl
	url = https://github.com/STMicroelectronics/stm32-lis302dl.git
	branch = main
[submodule "Drivers/BSP/Components/lis3dsh"]
	path = Drivers/BSP/Components/lis3dsh
	url = https://github.com/STMicroelectronics/stm32-lis3dsh.git
	branch = main
[submodule "Drivers/BSP/Components/ls016b8uy"]
	path = Drivers/BSP/Components/ls016b8uy
	url = https://github.com/STMicroelectronics/stm32-ls016b8uy.git
	branch = main
[submodule "Drivers/BSP/Components/lsm303agr"]
	path = Drivers/BSP/Components/lsm303agr
	url = https://github.com/STMicroelectronics/stm32-lsm303agr.git
	branch = main
[submodule "Drivers/BSP/Components/lsm303dlhc"]
	path = Drivers/BSP/Components/lsm303dlhc
	url = https://github.com/STMicroelectronics/stm32-lsm303dlhc.git
	branch = main
[submodule "Drivers/BSP/Components/mfxstm32l152"]
	path = Drivers/BSP/Components/mfxstm32l152
	url = https://github.com/STMicroelectronics/stm32-mfxstm32l152.git
	branch = main
[submodule "Drivers/BSP/Components/n25q128a"]
	path = Drivers/BSP/Components/n25q128a
	url = https://github.com/STMicroelectronics/stm32-n25q128a.git
	branch = main
[submodule "Drivers/BSP/Components/n25q256a"]
	path = Drivers/BSP/Components/n25q256a
	url = https://github.com/STMicroelectronics/stm32-n25q256a.git
	branch = main
[submodule "Drivers/BSP/Components/n25q512a"]
	path = Drivers/BSP/Components/n25q512a
	url = https://github.com/STMicroelectronics/stm32-n25q512a.git
	branch = main
[submodule "Drivers/BSP/Components/nt35510"]
	path = Drivers/BSP/Components/nt35510
	url = https://github.com/STMicroelectronics/stm32-nt35510.git
	branch = main
[submodule "Drivers/BSP/Components/otm8009a"]
	path = Drivers/BSP/Components/otm8009a
	url = https://github.com/STMicroelectronics/stm32-otm8009a.git
	branch = main
[submodule "Drivers/BSP/Components/ov2640"]
	path = Drivers/BSP/Components/ov2640
	url = https://github.com/STMicroelectronics/stm32-ov2640.git
	branch = main
[submodule "Drivers/BSP/Components/ov5640"]
	path = Drivers/BSP/Components/ov5640
	url = https://github.com/STMicroelectronics/stm32-ov5640.git
	branch = main
[submodule "Drivers/BSP/Components/s25fl512s"]
	path = Drivers/BSP/Components/s25fl512s
	url = https://github.com/STMicroelectronics/stm32-s25fl512s.git
	branch = main
[submodule "Drivers/BSP/Components/s5k5cag"]
	path = Drivers/BSP/Components/s5k5cag
	url = https://github.com/STMicroelectronics/stm32-s5k5cag.git
	branch = main
[submodule "Drivers/BSP/Components/st7735"]
	path = Drivers/BSP/Components/st7735
	url = https://github.com/STMicroelectronics/stm32-st7735.git
	branch = main
[submodule "Drivers/BSP/Components/st7789h2"]
	path = Drivers/BSP/Components/st7789h2
	url = https://github.com/STMicroelectronics/stm32-st7789h2.git
	branch = main
[submodule "Drivers/BSP/Components/stmpe1600"]
	path = Drivers/BSP/Components/stmpe1600
	url = https://github.com/STMicroelectronics/stm32-stmpe1600.git
	branch = main
[submodule "Drivers/BSP/Components/stmpe811"]
	path = Drivers/BSP/Components/stmpe811
	url = https://github.com/STMicroelectronics/stm32-stmpe811.git
	branch = main
[submodule "Drivers/BSP/Components/ts3510"]
	path = Drivers/BSP/Components/ts3510
	url = https://github.com/STMicroelectronics/stm32-ts3510.git
	branch = main
[submodule "Drivers/BSP/Components/wm8994"]
	path = Drivers/BSP/Components/wm8994
	url = https://github.com/STMicroelectronics/stm32-wm8994.git
	branch = main
